OPENAI_API_KEY=<open_ai_api_key>

TAVILY_API_KEY=<tavily_api_key>


LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=<langsmith_api_key>
LANGSMITH_PROJECT="Post_generation"

SERVER_URL = "http://127.0.0.1:8000/mcp"